*{
    margin: 0;
    padding: 0;

    overflow-y: hidden;
}

/*title*/
.title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #182625;
}

/*content*/
.grid{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 15px 0;

    border: 1px solid black;
}

.centralize{
    display: flex;
    justify-content: center;
}
.settings{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0;
}

.button{
    display: block;
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    
    background: #455559;
    border-radius: 5px;
    border: 0;
    border-bottom: 5px solid #2a302f;

    width: 150px;
    
    padding: 15px 35px;
    margin: 15px 20px;
}

.button:hover{
    cursor: pointer;
    
    border: 0; 
    transition: 10ms;
}

#display{
    border: 0;
    text-align: center;
}
#grid_range{
    display: block;
}

.range{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100% ;
    text-align: center;

}

.grid-element{
    border: 1px solid black;
}